<!DOCTYPE html>
<html>
  <head>
    <title>Geekoriginal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'new', :media => 'all' %>
  </head>

  <body>
    <main>  
      <div class="new-content">
        <div class="new-inner">
          <h2 class="new-title">New Account</h2>
          <div class="new-input">
            <input type="text" placeholder="name">
          </div>
          <div class="new-input">
            <input type="text" placeholder="e-mail">
          </div>
          <div class="new-input">
            <input type="text" placeholder="password">
          </div>
          <div class="new-input">
            <input type="text" placeholder="password again">
          </div>
          <div>
            <input type="submit" value="登録" class="registration-btn">
          </div>
        </div>
      </div>
    </main>
  </body>
</html>