// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notification-header{
  width: 100%;
  background: #517d99;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification-header-title{
  width: 40%;
}
.notification-title-chart{
  color: #fff;
  font-size: 28px;
  text-align: left;
  padding-left: 40px;
}
.notification-chart{
  width: 100%;
  margin: 50px auto 0px auto;
  text-align: center;
}
.notification-text{
  color: #555;
  font-size: 20px;
}
.emphasis{
  color: #517d99;
  font-size: 24px;
}
