// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#dm{
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
#dm .inner{
  padding: 30px 0;
}
#dm .dm-title{
  color: #517D99;
  font-size: 48px;
  padding: 30px 0 20px;
}
#dm .chat-box-current{
  padding-right: 50px;
}
#dm .chat-box-visited{
  padding-left: 50px;
}
.current-user {
  color: #fff;
  text-align: right;
  background-color: #6ac1b7;
  width: fit-content;
  margin: 10px 0 0 auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
}
.visited-user {
  color: #fff;
  background-color: #517D99;
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
  box-sizing: border-box;
  padding: 10px;
}
.color-white{
  color: #fff;
  font-size: 12px;
}
#dm .textbox{
  width: 60%;
  padding: 5px 10px 45px;
}
#dm .textbox:focus{
  box-shadow: 0 0 5px 0 rgba(223,239,237,1);
  border: 2px solid #6ac1b7 !important;
  outline: 0;
}
/* レスポンシブ対応 */
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
}