// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

header {
  background-color: transparent;
  width: 100%;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
}
header a {
  color: white; 
  text-decoration: none; 
}
.header-title {
  color: #517D99;
  margin-left: 30px;
  font-family: 'Delius', cursive;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
  color: white;
}
.smartphone-btn{
  visibility: hidden;
}
.btn{
  padding: 10px 40px;
  border-radius: 35px;
  transition: all 0.5s;
}

.btn--green{
  background-color: #6AC1B7;
  border: 1px solid #6AC1B7;
}

.btn--green:hover{
  color: #6AC1B7;
  background-color: #fff;
  border: 1px solid #6AC1B7;
}

.btn--blue{
  background-color: #517D99;
  border: 1px solid #517D99;
}
.btn--blue:hover{
  color: #517D99;
  background-color: #fff;
  border: 1px solid #517D99;
}

.heading-title{
  width: 250px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  background-color: #517D99;
  font-size: 36px;
  font-weight: 100;
  margin-top: 75px;
  padding: 10px;
  text-align: center;
}

.heading-title:before{
  position: absolute;
  top: -12px;
  left: -12px;
  width: 100%;
  height: 100%;
  content: '';
  border: 2px solid #517D99;
}

.top-image{
  height: 100vh;
  width: 100%;
  position: relative;
}
.top-image-circle{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 20%;
  right: 25%;
  background-color: #517D99;
  animation: fluidrotate 30s ease 0s infinite;
}

@keyframes fluidrotate{
  0%,100%{
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14%{
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28%{
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42%{
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56%{
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70%{
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84%{
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.top-text{
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
}
.top-text-title{
  padding: 30px;
  font-size: 48px;
}
.top-text-desc{
  padding: 30px;
  font-size: 20px;
  line-height: 2;
  text-align: left;
}
/* スクロールダウン */
.scrolldown2{
  position: absolute;
  bottom: 75px;
  left: 50%;
}
.scrolldown2 span{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #517D99;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.scrolldown2:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #517D99;
  animation: 
      circlemove 1.6s ease-in-out infinite,
      circlemovehide 1.6s ease-out infinite;
}
@keyframes circlemove{
  0%{bottom: 45px;}
  100%{bottom: -5px;}
}
@keyframes circlemovehide{
  0%{opacity: 0;}
  50%{opacity: 1;}
  80%{opacity: 0.9;}
  100%{opacity: 0;}
}
.scrolldown2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 50px;
  background: #517D99;
}
.step{
  text-align: center;
  width: 100%;
}

.step-contents{
  width: 100%;
}

.step-item{
  width: 100%;
  margin: 75px 0px;
}

.step-item--subtitle{
  font-size: 32px;
  font-weight: 100;
  color: #517D99;
}

.step-item--box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 50px 50px 50px 75px;
}

.step-item--image{
  padding-top: 20px;
}

.step-item--title{
  font-size: 48px;
  text-align: right;
  margin-bottom: 30px;
}

.step-item--subtitle{
  font-size: 1.5rem;
  color: #517D99;
  text-align: right;
  position: relative;
  margin-bottom: 90px;
}

.odd:after{
  position: absolute;
  content: "";
  bottom: -30px;
  right: 0;
  border-bottom: 2px solid #517D99;
  width: 12em;
  height: 3px;
}

.step02{
  padding: 100px 50px;
}

.step-item--description{
  position: relative;
  text-align: right;
  line-height: 2;
  margin-bottom: 45px;
}

.step-item--btn{
  padding: 10px 80px;
}

.text-left{
  text-align: left;
}

.even:after{
  position: absolute;
  content: "";
  bottom: -30px;
  left: 0;
  border-bottom: 2px solid #517D99;
  width: 12em;
  height: 3px;
}
/* ========================= language start ============================*/
.language{
  width: 100%;
  padding: 50px 0 75px;
}

.language-item{
  padding-top: 100px;
  width: 24%;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
}

.language-flag{
  border: 2px solid #517D99;
}
/* ========================= background start ============================*/
.background{
  text-align: center;
}
.background-contents{
  padding-top: 30px;
}
.background-item{
  width: 60%;
  margin: 50px auto 0px;
  padding: 0px 10px 20px;
  background: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 0 40px rgba(128, 128, 128, 0.1);
  transition: all 0.4s; 
}
.background-item:hover{
  box-shadow: 0 2px 15px rgba(0,0,0,0.4), 0 0 50px rgba(128, 128, 128, 0.1);
}
.background-item--number{
  font-size: 36px;
  position: relative;
  padding: 30px 0;
  margin-bottom: 35px;
  color: #555;
}
.background-item--number:before{
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 50px;
  height: 50px;
  border-top: 3px solid #6AC1B7;
  transform: rotate(-60deg);
}
.background-item--desc{
  font-size: 24px;
  color: #555;
}
.background-item-icon{
  margin-top: 10px;
  font-size: 60px;
  color: #517D99;
}
.br-sp{
  display: none;
}
/* ========================= page-top-section start ======================*/
.page-top-section{
  padding: 100px 0 50px;
  text-align: center;
}
#page-top{
  margin: 0 auto 100px auto;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  border-color: #999 #999 transparent transparent;
  transform: rotate(-45deg);
  cursor: pointer;
}
/* ========================= footer start ================================*/
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #517D99;
  text-align: center;
  padding: 20px 0;
}

/*========================== レスポンシブ対応 ========================*/
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .top-text-title {
    padding: 0;
    font-size: 30px;
  }
  .top-text-desc{
    padding: 20px 0 0 0;
    font-size: 16px;
  }
  .top-image-circle{
    width: 300px;
    height: 300px;
    right: 15%;
  }
  .step-item--box{
    width: 85%;
    margin: 0 auto;
    padding: 30px;
  }
  .step-item--box--inner{
    width: 50%;
    padding: 0px 20px;
  }
  .step-item--image{
    width: 70%;
    height: 70%;
  }
  .step-item--btn{
    padding: 15px 110px;
  }
  .language{
    padding: 25px 0 75px;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  header h1{
    margin-left: 25px;
    font-size: 36px;
  }
  header li{
    margin-right: 10px;
  }
  .header-list{
    visibility: hidden;
  }
  .top-text-title{
    font-size: 20px;
  }
  .top-image{
    height: 60vh;
  }
  .top-image-circle {
    width: 200px;
    height: 200px;
    top: 30%;
    right: 10%;
  }
  .btn{
    padding: 10px 80px;
  }
  .smartphone-btn{
    visibility: visible;
    width: 100%;
    height: 60vh;
  }
  .smartphone-btn-list{
    list-style: none;
    margin-bottom: 50px;
    padding-left: 30px;
  }
  .heading-title{
    margin: 0 auto;
    font-size: 24px;
  }
  .step-item--box {
    display: block;
    padding: 10px;
  }
  .step-item--box--inner{
    width: 100%;
    padding: 0;
  }
  .step-item--image{
    width: 50%;
    height: 50%;
  }
  .step-item--title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  .step-item--subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 45px;
  }
  .step-item--description{
    text-align: center;
    margin-bottom: 25px;
  }
  .odd:after,
  .even:after{
    display: none;
  }
  .step-contents:nth-child(2) .step-item--box--inner{
    flex-direction: column-reverse;
  }
  .br-sp{
    display: block;
  }
  .background-item{
    padding: 0px 20px 20px;
  }
  .background-item--desc{
    font-size: 16px;
  }
}

/*1. フェードインアニメーションの指定 */
.scrollanime {opacity: 0;}
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*2.上下の動きを指定 */
.downup {transform: translateY(100px);}

/*3.左右の動きを指定 */
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}


