// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ================================共通部分============================= */
.pt-20{
  padding-top: 20px;
}
.mt-50{
  margin-top: 50px;
}
.btn{
  padding: 15px 50px;
  border-radius: 25px;
  background-color: #6AC1B7;
  color: #fff;
  border: 1px solid #6AC1B7;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover{
  background-color: #fff;
  color: #6AC1B7;
  border: 1px solid #6AC1B7;
}
.field{
  margin-top: 50px;
}
.box{
  width: 100%;
  text-align: center;
  background-color: #517d99;
}
.login{
  padding: 50px 0;
}
.signup{
  padding: 20px 0 40px;
}
.password-change{
  height: 100vh;
}
.title{
  color: #DFEFED;
  font-size: 40px;
  padding: 20px 0;
}
.login-subtitle{
  width: 500px;
  margin: 0 auto;
}
.label-title{
  text-align: left;
  color: #DFEFED;
  font-size: 24px;
}
.input-form{
  font-size: 20px;
	box-sizing: border-box;
  width: 500px;
	padding: 10px;
  margin: 15px 0 10px;
	letter-spacing: 1px;
	border-bottom: 1px solid #DFEFED;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  outline: 0;
  background-color: #517d99;
  color: #DFEFED;
}
.select-form{
  width: 500px;
  padding: 15px 10px;
  margin: 15px 0;
  outline: 0;
  border: 3px solid #fff;
  transition: all .5s;
}
.select-form:hover{
  border: 3px solid #517d99;
}
.submit-btn{
  padding: 15px 50px;
  margin: 30px 0 20px;
  border-radius: 25px;
  background-color: #517d99;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
}
.submit-btn:hover{
  background-color: #fff;
  color: #517d99;
  border: 1px solid #fff;
}
.remember_me{
  color: #DFEFED;
  font-size: 20px;
}

/* ============================== 一覧表 ==============================*/
#users{
  text-align: center;
  width: 100%;
}
#users .users-header{
  width: 100%;
  background: #517d99;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users-header-title{
  width: 40%;
}
.users-header-content{
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dm-header-item-title{
  color: #fff;
  font-size: 28px;
  text-align: left;
  padding-left: 40px;
}
.logout{
  padding-right: 40px;
}
.logout-btn{
  position: relative;
  text-decoration: none;
  display: inline-block;
  background:#fff;
  color:#517d99;
  padding: 10px 40px 10px 30px;
  border-radius:25px;
  text-align: center;
  outline: none;
  transition: ease .2s;
}
.logout-btn:hover{
  background-color: #ddd;
}
.logout-btn::after{
  content: '';
  position: absolute;
  top:42%;
  right: 13px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #517d99;
  border-right: 2px solid #517d99;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.logout-btn:hover::after{
  right: 11px;
}
.notification{
  padding-right: 40px;
}
.notification-bell{
  color: #fff;
  font-size: 28px;
  transition: all 0.5s;
}
.notification-bell:hover{
  color: #ddd;
}
.my-page{
  padding: 30px 0;
}
.current-user-name{
  color: #333;
}
.users-content{
  width: 100%;
}
.user-table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 800px;
  margin: 0 auto;
}
.user-table tr{
  border-bottom: 1px solid #eee;
}
.user-table tr:hover{
  background-color: #DFEFED;
}
.user-table th{
  text-align: center;
  width: 20%;
  padding: 35px 0;
}
.user-table-name{
  color: #555;
}

/* マッチングした相手の言語 */
.matching-language{
  padding-top: 30px;
}
.matching-language-title{
  color: #517d99;
  font-size: 28px;
}
.matching-language-contents{
  display: flex;
  justify-content: center;
}
.matching-language-item{
  margin: 50px;
  color: #555;
}
.matching-language-flag{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  object-fit: cover;
}
.table-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #517d99;
  object-fit: cover;
}
.start-btn{
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #517d99;
  padding: 10px 30px;
  text-align: center;
  outline: none;
  transition: ease .2s;
}
.start-btn span{
  position: relative;
  z-index: 3;
  color: #517d99;
}
.start-btn:hover span{
  color: #fff;
}
.bgleft:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #517d99;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.bgleft:hover:before{
  transform-origin: left top;
  transform: scale(1, 1);
}
.new-chat{
  padding: 50px 0;
}
.inner{
  padding: 30px 0;
}


/* ==============================詳細ページ======================================= */
.detail-title,
#edit .title{
  padding: 20px 0px 20px 40px;
  text-align: left;
  color: #fff;
  background-color: #517d99;
  font-size: 28px;
}
.user-profile{
  background: #fff;
  width: 300px;
  height: calc(100vh - 120px);
  padding: 20px;
  margin: 0px auto;
}
.user-fadeup{
  animation-name: fadeUpAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime{
  from{
    opacity: 0;
    transform: translateY(100px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-image{
  position: relative;
}
.profile-image .image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name,
.profile-studylanguage,
.profile-nativelanguage,
.profile-desc{
  color: #517d99;
}
.profile-name{
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding: 20px 0px 0px 20px;
}
.profile-studylanguage{
  padding-top: 40px;
}
.profile-studylanguage,
.profile-nativelanguage{
  padding-left: 20px;
  font-size: 1rem;
  letter-spacing: .1rem;
  opacity: .8;
}
.profile-desc{
  padding: 40px 0px 0px 20px;
  font-size: 1.2rem;

}
.detail-contents{
  width: 100%;
  height: calc(100vh - 80.5px);
  display: flex;
  justify-content: space-between;
  background-color: #517d99;
}
.detail-item{
  width: 50%;
  vertical-align: middle;
}
.chat{
  width: 100%;
  padding: 50px 0;
  line-height: 1.5rem;
}
.return{
  width: 100%;
  padding: 50px 0;
}

/* ============================== 編集ページ ==============================*/
#edit{
  text-align: center;
}
#edit .edit-label-title{
  color: #517d99;
  font-size: 24px;
  padding: 10px;
}
.edit-form{
  font-size: 20px;
	box-sizing: border-box;
  width: 500px;
	padding: 10px;
  margin: 15px 0 10px;
	letter-spacing: 1px;
	border-bottom: 1px solid #DFEFED;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 20px;
  outline: 0;
  background-color: #DFEFED;
  color: #555;
}
.btn-blue{
  background-color: #517d99;
}
.btn-blue:hover{
  background-color: #fff;
  color: #517d99;
  border: 1px solid #517d99;
}

/*========================== レスポンシブ対応 ========================*/
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  .chart-title{
    padding-top: 25px;
  }
  .current-user-name{
    padding-top: 10px;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  /* ログインページ */
  .login{
    padding: 25px 0 50px;
  }
  .input-form{
    width: 275px;
  }
  .login-subtitle{
    width: 320px;
  }
  /* 新規登録ページ */
  .select-form{
    width: 275px;
    padding: 10px;
  } 
  /* ===================================== 一覧ページ ===================================== */
  #users{
    width: 100%;
  }
  .header-title-chart{
    font-size: 20px;
    padding-left: 20px;
  }
  .notification{
    padding-right: 10px;
  }
  .logout{
    padding-right: 10px;
  }
  .user-table{
    width: 100%;
  }
  .user-table th{
    font-size: 24px;
  }
  .user-table-name{
    font-size: 12px;
  }
  /* ====================================== 詳細ページ ===================================== */
  .detail-title,
  #edit .title{
    font-size: 28px;
  }
  /* 編集ページ */
  .edit-form{
    width: 300px;
  }

}